body {
  font: 11px sans-serif;
  margin: 0;
  /*overflow: hidden;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
    /*opacity: 1;
    transition: opacity 0.4s;*/
}
.dot.filtered {
  opacity: 0;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  background-color: white;
  top: 8%;
  left: 1%;
}

.tooltip div {
    text-align: center;
    font-weight: bold;
}

#divMostrarEspectrograma {
    background-color: white;
    position: absolute;
    top: 1%;
    left: 1%;
}

#divMostrarEspectrograma label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    top: -4px;
}
#divMostrarEspectrograma #clusterItems {
    margin-top: 1em;
}
#divMostrarEspectrograma #clusterItems .cluster {
    border: 1px solid black;
    display: inline-block;
    margin-right: 1.5em;
}
#divMostrarEspectrograma #clusterItems .cluster label {
    position: relative;
    top: -4px;
    padding: 5px 10px;
    color: white;
}
