body {
  font: 11px sans-serif;
  margin: 0;
  /*overflow: hidden;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  /*stroke: #000;*/
}

.tooltip {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  background-color: white;
  top: 4%;
  left: 1%;
}

.tooltip div {
    text-align: center;
    font-weight: bold;
}

#divMostrarEspectrograma {
    background-color: white;
    position: absolute;
    top: 1%;
    left: 1%;
}

#divMostrarEspectrograma label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    top: -4px;
}
